* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
/* banner  */

#banner {
  max-width: 1600px;
  width: 100%;
  height: 100vh;
  background: url("../images/banner/banner3.png") no-repeat center / cover;
}

.section-banner {
  width: 525px;
  margin-left: 740px;
  padding-top: 150px;
  text-align: end;
}
.section-heading h2 {
  font-size: 65px;
  line-height: 76px;
  font-weight: 700;
  color: #ffff;
  margin-bottom: 24px;
}

.section-heading p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 32px;
}

.section-banner .btn {
  padding: 20px 26px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  color: rgb(0, 84, 139);
  font-weight: 500;
  cursor: pointer;
}
/* about section  */

#about {
  max-width: 1072px;
  width: 100%;
  padding-top: 130px;
  margin: 0 auto;
}

.section-about {
  display: flex;
  /* gap: 130px; */
  justify-content: space-between;
  align-items: center;
}

.about-heading {
  max-width: 420px;
  width: 100%;
  padding-top: 130px;
}
.about-heading h2 {
  font-size: 40px;
  line-height: 76px;
  font-weight: 700;
  color: #000;
  margin-bottom: 24px;
}

.about-heading p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #4b4a4a;
  margin-bottom: 16px;
}

.about-heading ul li {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #4b4a4a;
  list-style: none;
}
.about-heading ul li i {
  color: rgba(22, 216, 135, 1);
}

.section-about figure img {
  max-width: 530px;
  width: 100%;
  vertical-align: middle;
}
