* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
/* banner  */

#banner {
  max-width: 1600px;
  width: 100%;
  height: 100vh;
  background: url("../images/banner/banner3.png") no-repeat center / cover;
}

.section-banner {
  width: 525px;
  margin-left: 740px;
  padding-top: 150px;
  text-align: end;
}
.section-heading h2 {
  font-size: 65px;
  line-height: 76px;
  font-weight: 700;
  color: #ffff;
  margin-bottom: 24px;
}

.section-heading p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 32px;
}

.section-banner .btn {
  padding: 20px 26px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  color: rgb(0, 84, 139);
  font-weight: 500;
  cursor: pointer;
}
/* about section  */

#about {
  max-width: 1072px;
  width: 100%;
  padding-top: 130px;
  margin: 0 auto;
}

.section-about {
  display: flex;
  /* gap: 130px; */
  justify-content: space-between;
  align-items: center;
}

.about-heading {
  max-width: 420px;
  width: 100%;
  padding-top: 130px;
}
.about-heading h2 {
  font-size: 40px;
  line-height: 76px;
  font-weight: 700;
  color: #000;
  margin-bottom: 24px;
}

.about-heading p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #4b4a4a;
  margin-bottom: 16px;
}

.about-heading ul li {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #4b4a4a;
  list-style: none;
}
.about-heading ul li i {
  color: rgba(22, 216, 135, 1);
}

.section-about figure img {
  max-width: 530px;
  width: 100%;
  vertical-align: middle;
}

/* section skills */

#skill {
  padding-top: 130px;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
.section-skill {
  /* display: flex;
  flex-direction: column; */
  /* gap: 130px; */
  text-align: center;
  /* justify-content: center; */
}

.section-skill .h-2 {
  font-size: 40px;
  line-height: 76px;
  font-weight: 700;
  color: #000;
  margin-bottom: 50px;
}
.skill-cards {
  display: flex;
  /* gap: 86px; */
  justify-content: space-between;
  align-items: center;
  margin-bottom: 130px;
}
.skill-cards .card img {
  max-width: 92px;
  width: 100%;
  margin-bottom: 24px;
}
.card h3 {
  font-size: 25px;
  line-height: 76px;
  font-weight: 700;
  color: #000;
  margin-bottom: 16px;
}
.card p {
  font-size: 20px;
  font-weight: 400;
  color: #000;
}

.skill-bg {
  max-height: 322px;
  height: 100%;
  background: url("../images/gradient1.png"), url("../images/watch.png");
  padding-bottom: 50px;
  margin-bottom: 130px;
  border-radius: 10px;
}

.skills-content {
  max-width: 460px;
  width: 100%;
  text-align: start;
  padding: 100px 0 0 100px;
}
.skills-content h2 {
  font-size: 30px;
  margin-bottom: 24px;
  color: #ffff;
  font-weight: 700;
}

.skills-content button {
  padding: 16px 30px;
  border: none;
  background: #fff;
  border-radius: 10px;
  color: rgba(0, 106, 255, 1);
  font-size: 16px;
}

/* footer section*/
footer {
  background: #000;
  color: #fff;
}

.section-footer {
  padding: 130px 0;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 330px;
}
.footer-content h2 {
  font-size: 30px;
  margin-bottom: 16px;
  color: #ffffffe0;
}
.footer-content p {
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 26px;
  color: #ffffffa4;
}
.footer-content img {
  margin-right: 15px;
}

.footer-subscribe {
  /* display: flex;
  flex-direction: column;
  gap: 15px; */
  max-width: 325px;
  width: 100%;
}
.footer-subscribe h4 {
  font-size: 20px;
  color: #ffffffe0;
  margin-bottom: 30px;
}

.footer-subscribe input {
  width: 100%;
  padding: 10px 15px;
  background: transparent;
  color: #fff;
  font-size: 16px;
  border: 2px solid #ffffff49;
  outline: none;
  border-radius: 5px;
  margin-bottom: 15px;
}
.footer-subscribe input:focus {
  box-shadow: 0 1px 15px #0084ff6c;
  border: 2px solid #0084ff9c;
}
.footer-subscribe button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background: #0084ff9c;
  color: #fff;
}

.copyright {
  font-size: 16px;
  color: #fff;
  padding-bottom: 30px;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
}
